-
    const shopul = ['perfume', 'decorative cosmetics', 'skin care', 'body care', 'spa cosmetics', 'hair care', 'healing cosmetics', 'makeup', 'promotions']
header.header
    a.header__logo(href="index.html") 
        img(src="assets/img/logo.svg", alt="dsm.ge", title="dsm_logo")
    .header__left
        nav.header__navbar
            .header__navbar__icons
                span.header__navbar__icons__top
                span.header__navbar__icons__bottom

        .header__hr
        .header__langbar
            span.active
                include ../components/flags/eng 
            a(href="#")
                include ../components/flags/geo 
            a(href="#")
                include ../components/flags/rus 
        .header__hr  
        form.header__searchform
            button(type="submit")
                include ../components/search_header
            input#search(type="text", name="search", placeholder="Search your product")
    .header__right
        a.header__smth(href="compare.html")
            include ../components/smth
            span.length(data-length="0")
        .header__hr
        .header__favourites
            include ../components/heart
            span.length(data-length="0")
        .header__hr
        if loggedin
            .header__loginbtn.loggedin
                include ../components/person
                span= `Hello, ${loggedin}`
                .loggedinmenu.desktop
                    //- if referal
                    .loggedinmenu__balance
                        .loggedinmenu__balance__left
                            .balancesvg
                            .loggedinmenu__balance__left__content
                                p balance
                                .loggedinmenu__balance__price
                                    span.loggedinmenu__balance__price__value 30.40
                                    |  USD
                        a.loggedinmenu__balance__right(href="payment.html") Withdraw money
                    ul.loggedinmenu__nav
                        li.loggedinmenu__nav__li
                            a.prof(href="profile-details.html") profile
                        li.loggedinmenu__nav__li.ordhs(data-orders="13")
                            a.ordhs(href="profile-orders.html") order history
                        li.loggedinmenu__nav__li.reffs(data-reffs="135")
                            a.reffs(href="profile-refferals.html") refferals
                    a.logout(href="/logout") Log out! 

        else
            .header__loginbtn.login
                include ../components/person
                span login
        .header__basket
            include ../components/bag
form.header__searchform.mobile
    button(type="submit")
        include ../components/search_header
    input#searchmob(type="text", name="search", placeholder="Search your product")
    include ../components/searchx
if loggedin
    .loggedinmenu.mobile
        //- if referal
        .loggedinmenu__balance
            .loggedinmenu__balance__left
                .balancesvg
                .loggedinmenu__balance__left__content
                    p balance
                    .loggedinmenu__balance__price
                        span.loggedinmenu__balance__price__value 30.40
                        |  USD
            a.loggedinmenu__balance__right(href="payment.html") Withdraw money
        ul.loggedinmenu__nav
            li.loggedinmenu__nav__li
                a.prof(href="profile-details.html") profile
            li.loggedinmenu__nav__li.ordhs(data-orders="13")
                a.ordhs(href="profile-orders.html") order history
            li.loggedinmenu__nav__li.reffs(data-reffs="135")
                a.reffs(href="profile-refferals.html") refferals
        a.logout(href="/logout") Log out! 

.header__navbar__bg
.header__navbar__content
    .header__navbar__content__withscroll
        h3.header__navbar__title shop
        ul.header__navbar__shop
            each shopli, index in shopul
                li.outer_li
                    a.outer_a(href='product.html')= shopli
                    ul.inner_ul
                        each a, i in Array(5)
                            li.inner_li
                                a(href="product.html")=`${shopli} ${(i+1)}` 
                        li.inner_li.view_all
                            a(href="product.html") view all 

        h3.header__navbar__title company
        ul.header__navbar__company
            li
                a(href="about.html") About us
            li
                a(href="/help.html") Help & FAQ
            li
                a(href="/blog.html") Blog
            li
                a(href="contact.html") Contact us
        h3.header__navbar__title refferal system
        ul.header__navbar__company
            li
                a(href="/referal.html") refferal system
            li
                a(href="/howitwork.html") How it Work?
