.messageboxmodal__bg
.messageboxmodal
  .messageboxmodal__X
    include ../components/loginx
  .messageboxmodal__forms
    form#messageboxmodal.messageboxmodal__form.reviewform
      h5 message title here
      .messageboxmodal__msgicon.error
        img.success(src="assets/img/message/success.svg" alt="")
        img.error(src="assets/img/message/error.svg" alt="")
      p.messagemodal__text random text content here

      //- .messageboxmodal__names
      //- 	.label__parent
      //- 		label(for="fastorderfirstname") first name
      //- 		input#fastorderfirstname.input-div(type="text" name="firstname" placeholder="first name")
      //- 	.label__parent
      //- 		label(for="fastorderlastname") last name
      //- 		input#fastorderlastname.input-div(type="text" name="lastname" placeholder="last name")
      //- //- .label__parent
      //- label(for="fastordertel") mobile phone
      //- input#fastordertel.input-div(type="number" name="tel" placeholder="+995 __ __ __")           

      //- button.yellowbtn(type='submit') send
script.
  const messagebox_active = true 

