-
    function lcs(a) {
        return a.toLowerCase()
    }

.pagenav.container
    h1.ptitle=pagenavoff ? pagenavoff : 'Skin care'
    if 'blogs' === pagenavoff
        .pagenav__nav
            a.pagenav__homepage(href="index.html") Home page
            a.pagenav__current(href="#") Blogs
    else if 'blog' === pagenavoff
        .pagenav__nav
            a.pagenav__homepage(href="index.html") Home page
            a.pagenav__middle(href="#") Blogs
            a.pagenav__current(href="#") Blog Title
    else if (!pagenavoff)
        .pagenav__nav
            a.pagenav__homepage(href="index.html") Home page
            a.pagenav__middle(href="#") Shop
            a.pagenav__current(href="#") Skin care
    else
        if (!['Contact', 'About', 'Blog', 'Blogs', '404', 'FAQ'].includes(pagenavoff))
            .pagenav__nav
                span total 6 products
