.pagenav.container
    h1.ptitle Skin care
    .pagenav__nav
        a.pagenav__homepage(href="index.html") Home page
        a.pagenav__middle(href="#") Shop
        a.pagenav__current(href="#") Skin care
