.respomenu
    .header__navbar__icons
        span.header__navbar__icons__top
        span.header__navbar__icons__bottom
    a.header__smth(href="compare.html")
        include ../components/smth
        span.length
    .header__favourites
        include ../components/heart
        span.length
    .header__loginbtn
        include ../components/person
    .header__basket
        include ../components/bag

include ./_loader