script(src="assets/js/axios.min.js") 
script.
    let ADD_TO_BASKET_URL = 'http://localhost:2000/add-to-basket'
    let ADD_TO_FAV_URL = 'http://localhost:2000/add-to-favs'
    let ADD_TO_COMPARE_URL = 'http://localhost:2000/add-to-compare'
    let BASKET_UPDATE = 'http://localhost:2000/update-basket'
    let REMOVE_FROM_BASKET = 'http://localhost:2000/remove-from-basket'
    let UPDATE_REVIEW = 'http://localhost:2000/update-review'
    let GET_CHART_DATA = 'http://localhost:2000/chart'
    let loggedInUserId = false

    
script(src="assets/js/main.js?v=0.2")
script(src="assets/js/swiper-bundle.min.js")