@import _fonts
@import _variables
@import _defaults

body
    // background: darkblue
    &:not(.orderresult)
        padding-top: 90px
    &.noscroll
        overflow-y: hidden

.main
    // min-height: 150vh
    min-height: 150vh
    @include plus1025()
        min-height: calc(100vh - 90px)
@import _header
@import _footer
@import _respomenu

@import _loader


html
    --swiper-theme-color: $dark !important

@import _homemain__slider

@import _loginmodal


@import _homemain_besidesslider



@import _pagenav

@import _products

@import _productin


@import _basketmodal

@import _ns


@import _profilemain

@import _orderresult


@import _referrals


.comparemain
    &__content
        width: 100%
        overflow: hidden
        overflow-x: auto
    &__table
        border: 1px solid $e6
        table-layout: fixed
        border-collapse: collapse
        tbody, thead
            width: 100%
            overflow: auto
        td
            // word-break: 2
            border: 1px solid $e6