@import _fonts
@import _variables
@import _defaults

body
    // background: darkblue
    &:not(.orderresult)
        padding-top: 90px
    &.noscroll
        overflow-y: hidden
.uppercase
    @include upperCase()
    
.main
    // min-height: 150vh
    // min-height: 150vh
    @include plus1025()
        min-height: calc(100vh - #{90px + 134px + 466px})

        
@import _header
@import _footer
@import _respomenu

@import _loader


html
    --swiper-theme-color: $dark !important

@import _homemain__slider

@import _loginmodal


@import _homemain_besidesslider



@import _pagenav

@import _products

@import _productin


@import _basketmodal

@import _ns


@import _profilemain

@import _orderresult


@import _referrals

@import _compares

@import _contact

@import _customs

@import _aboutmain

@import _blogsmain

@import _error404



.faq
    grid-gap: 30px
    gap: 30px
    // height: 
    overflow: auto
    padding-top: 0
    display: flex
    height: auto
    margin: 50px 0
    flex-direction: column
    @include plus1025()
        min-height: calc(100vh - #{90px + 134px})
        flex-direction: row
        display: block
        margin: 50px 0
        overflow: initial
        gap: 0
    &__tabs
        // display: grid
        width: 100%
        flex-grow: 0
        float: left
        flex-shrink: 0
        background: white
        height: max-content
        top: #{90px + 40px}
        left: 0
        padding: 0 20px
        // display: inline-block
        // position: relative
        overflow: hidden
        // height: 
        
        @include plus1025()
            @include scrollHidden()
            padding: 0
            margin: 0
            position: sticky
            margin-left: calc((100% - 1350px) / 2)
            height: calc(100vh - 90px - 134px - 80px)
            overflow: auto
            margin-right: 30px
            max-width: 305px
        &__select
            // visibility: hidden
            // display: none
            // position: absolute
            // left: 200%
            // top: 200%
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 999
            opacity: 0
            @include plus1025()
                display: none !important
        
        &__li
            display: none
            cursor: pointer
            width: 100%
            padding: 10px 20px
            border-radius: 84px
            height: max-content
            background-color: transparent
            transition: .15 ease-in
            font-family: firagomedium
            @include font(18px, 1.6)
            @include plus1025()
                display: block
            &.active
                font-family: firagosemibold
                transition: .15 ease-out
                background-color: rgba($yellow, .1)
                // order: -1
                display: block
                // @include plus1025()
                //     order: unset
    &__contents
        margin: 0 40px
        // float: right
        // position: relative
        display: flex
        overflow: hidden
        // height: auto
        // max-width: fit-content
        // height: max-content
        @include scrollSetup($yellow, 10px, $newf8, $margin: 0)
        @include plus1025()
            margin-right: calc((100% - 1390px) / 2)
            max-width: calc(1350px - 350px)
            margin: 50px 0
            overflow: initial
        &__li
            --height: max-content
            flex-shrink: 0
            width: 100%
            font-family: firagobook
            @include font(14px, 20px)
            color: $dark
            height: 0
            overflow: hidden
            position: relative
            opacity: 0
            padding-right: 20px
            top: -30%
            display: block
            transition: height 1.5s ease-in, opacity 1.5s ease-in, top 1.3s cubic-bezier(0.455, -0.445, 0.940, -0.060)
            @for $var from 0 through 20
                &:nth-of-type(#{$var})
                    transform: translateX(calc(#{$var * -1} * 100% + 100%))
                // &[data-index]
            &.active
                top: 0
                opacity: 1
                transition: height 1.5s ease-out, opacity 1.5s ease-out, top .9s cubic-bezier(0.175, 1.025, 1.000, 1.650)
                height: var(--height)
