- const title = 'new password'
- const loggedin = false
doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="assets/css/swiper-bundle.min.css")
        include ../layouts/_head

    body 
        include ../layouts/_header
        include ../layouts/_loginmodal

        main.main.newpasswordmain.container
            h1 set new password
            .newpasswordmain__content
                form#newpasswordform.newpasswordmain__form
                    label(for="newpassword_newpass") new password
                    .input-div
                        .input-div__icon
                            include ../components/passicon
                        .input-div__hr
                        input#newpassword_newpass(type="password" name="password" placeholder="Pass****")
                    label(for="newpassword_newpassrepeat") repeat new password
                    .input-div
                        .input-div__icon
                            include ../components/passicon
                        .input-div__hr
                        input#newpassword_newpassrepeat(type="password" name="repeat_password" placeholder="Pass****")
                    button.yellowbtn(type="submit") send


        include ../layouts/_messagebox
        include ../layouts/_basket
        include ../layouts/_footer

        include ../layouts/_respomenu

        include ../layouts/_scripts